@import '../mixins.scss';

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  @include block;
}

.containerInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.label {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}